[submodule "contrib/cjson"]
	path = contrib/cjson
	url = https://github.com/DaveGamble/cJSON
[submodule "contrib/glfw"]
	path = contrib/glfw
	url = git@github.com:glfw/glfw.git
[submodule "demo/contrib/wcm"]
	path = demo/contrib/wcm
	url = git@github.com:vaporstack/wcm.git
